<app-navbar></app-navbar>

<br>
<div fxLayout="row" fxLayoutAlign="center start">

    <button mat-raised-button color="accent" [routerLink]="['/cargos-page']">Regresar <mat-icon>login</mat-icon></button>

</div>

<div fxLayout="row" fxLayoutAlign="center center" class="center">

    <mat-card class="example-card">

        <mat-card-header>
            <mat-card-title>Actualizar Cargo</mat-card-title>
        </mat-card-header>

        <form class="example-form">

            <mat-form-field class="example-full-width">
            <mat-label>Titulo</mat-label>
            <input matInput placeholder="titulo" type="text" name="titulo" required [(ngModel)]="cargo.titulo">
            </mat-form-field>
        
            <mat-form-field class="example-full-width">
            <mat-label>Descripcion</mat-label>
            <input matInput placeholder="descripcion" type="text" name="descripcion" required [(ngModel)]="cargo.descripcion">
            </mat-form-field>

            <button type="submit" mat-raised-button color="primary" (click)="updateCargo()">Actualizar Cargo</button>

        </form>

    </mat-card>

</div>
